*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #504040;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    margin-top: 30px;
}


nav{
    position: fixed;
    width: 100%;  
    background-color:darkseagreen;
    text-align: center;
    font-size: 2px;
}

nav li{
    display: inline-block;
    list-style: none;

}

nav li a{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    position: relative;
    padding: 6px;
    font-size: 20px;
    overflow: hidden;
}

nav li a:after{
    position: absolute;
    content: '';
    bottom: 0px;
    right: 0px;
    left: 0px;
    border-bottom: solid 2px chocolate;
    transition: all 1s linear;
    transform: translateX(100%);
}

nav li a:hover:after{
    transform: translateX(0%);

}

div{
    position: fixed;
    width: 30px;
    height: 30px;

}

#bar{
    display: none;
     height: 40px;
}

div{
   width: 100%;
   background-color: darkseagreen;
}


.slider{
    transform: translate(0);
}



@media only screen and (max-width:900px){
    nav{
        transition: all 0.5s linear;
        transform: translate(-100%);
        top: 5%;
        width: 40%;
        height: 100%;
      
    }

    #bar{
        display: block;

    }
    nav li{
        display: block;
    }


section{  
    position: relative;
    display: inline-block;
    top: 70px;
    z-index: -1;
}

img {
    position: relative;
    display: block;
    padding: 12px;
    margin: 0px auto;
    height: 50%;
    width: 47%;
    top: 15px;
    bottom: auto;
}

h1{
    text-align: center;
    position: absolute;
    display: inline-block;
    font-size: 20px ;
   }


@media only screen and (max-width:200px){
   section{
    transition: all 0.5s linear;
    transform: translate(-20%);
    width: 357px;
    height: -15%;

}
    img{
        display: block;

    }
}  



/*

footer{
    position: absolute;
    display: inline;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 20%;
    top: 150%;
    bottom: 0px;
    right: 0px;
    left: 0%;
}

h10{
    background-color:#a3ab94;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    position: static;
    display: block;
} 


@media only screen and (max-width:1200px){
   footer{
    transition: all 2s linear;
    transform: translate(-96%);
    top: 153%;
    width: -53px;
    height: 60%;
    left: 108%;
}
    }

   h10{
        display: block;

    }
  
      */
      
      
